:root {
  --life-green: rgb(73, 250, 73);
  --attack-red: red;
  --button-padding: 6px 20px;
  --background: #d3bcb575;
}

body,
html {
  font-size: 16px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.playground {
  width: 100%;
  height: 100vh;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.life-container {
  height: min-content;
  width: 50%;
  margin: 5%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.life {
  height: 20px;
  width: 500px;
  background-color: var(--life-green);
  border: 2px solid blanchedalmond;
}

#robo-life {
  width: 500px;
}

.attack {
  display: flex;
  gap: 100px;
}

.attack button {
  background-color: red;
  padding: var(--button-padding);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.attack button:hover {
  background-color: rgb(204, 2, 2);
}

#reset {
  background-color: var(--life-green);
}

#reset:hover {
  background-color: rgba(12, 211, 12, 0.842);
}
